.header .container-fluid .collapse ul.icons-cart { width: 352px; height: 42px; background: url(../img/icons.png) no-repeat -39px -887px; }

.header .container-fluid .collapse ul.icons-cart li { margin-top: 7px; font-size: 20px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; text-align: center; }

.header .container-fluid .collapse ul.icons-cart li.li1 { position: relative; left: -10px; }

.header .container-fluid .collapse ul.icons-cart li.li2 { position: relative; left: 80px; }

.header .container-fluid .collapse ul.icons-cart li.li3 { position: relative; left: 165px; }

.header .container-fluid .collapse ul.icons-cart li span { color: #fff; }

.header .container-fluid .collapse ul.icons-cart li.cur p { color: #64a131; }

.header .container-fluid .collapse ul.icons-cart li p { margin-top: 12px; font-size: 12px; }

.cart { width: 1000px; margin: 0 auto; }

.cart .cart-filter-bar .mycart { padding-left: 22px; height: 25px; background: url(../img/icons.png) no-repeat -525px -330px; }

.cart .cart-filter-bar .mycart p { font-size: 20px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #555555; margin-left: 14px; line-height: 27px; line-height: 35px\9; }

.cart .cart-filter-bar .mycart a { font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #64a131; padding-top: 10px; }

.cart .cartmain .cart-head { height: 50px; line-height: 50px; line-height: 56px\9\0; padding-left: 14px; border: 1px solid #ccc; background-color: #f1f1f1; color: #999999; }

.cart .cartmain .cart-head .cart-select { width: 63px; height: 50px; }

.cart .cartmain .cart-head .cart-good { margin-left: 96px; }

.cart .cartmain .cart-head .cart-spec { margin-left: 245px; }

.cart .cartmain .cart-head .cart-price { margin-left: 75px; }

.cart .cartmain .cart-head .cart-number { margin-left: 61px; }

.cart .cartmain .cart-head .cart-sum { margin-left: 93px; }

.cart .cartmain .cart-head .cart-action { margin-left: 88px; }

.cart .cartmain .cart-head span { float: left; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; }

.cart .cartmain .cart-order { border: 1px solid #ccc; border-top: none; border-bottom: none; }

.cart .cartmain .cart-order .cartbox { height: 130px; border-bottom: 1px solid #ccc; }

.cart .cartmain .cart-order .cartbox div { height: 100%; }

.cart .cartmain .cart-order .cartbox .cart-imgs { width: 110px; height: 110px; margin: 10px 0; position: relative; }

.cart .cartmain .cart-order .cartbox .cart-imgs a img { width: 100%; height: 100%; }

.cart .cartmain .cart-order .cartbox .cart-name { width: 260px; }

.cart .cartmain .cart-order .cartbox p { margin: 15px 0; margin-left: 15px; margin-bottom: 0; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; }

.cart .cartmain .cart-order .cartbox p a { display: block; height: 42px; overflow: hidden; text-overflow: ellipsis; color: #555555; text-decoration: none; }

.cart .cartmain .cart-order .cartbox .sum { width: 120px; text-align: center; }

.cart .cartmain .cart-order .cartbox .sum p { margin: 15px 0; margin-left: 0; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #64a131; font-weight: bold; }

.cart .cartmain .cart-order .cartbox .delete { width: 130px; cursor: pointer; text-align: center; }

.cart .cartmain .cart-order .cartorder-select { width: 51px; padding: 0 14px; }

.cart .cartmain .cart-order .spec-num { width: 62px; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #555555; }

.cart .cartmain .cart-order .price-singular { width: 168px; text-align: center; }

.cart .cartmain .cart-order .price-singular p { font-size: 14px; font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif; color: #64a131; font-weight: bold; }

.cart .cartmain .cart-empty { padding: 50px 0; font-size: 16px; color: #555; text-align: center; border-bottom: 1px solid #ccc; }

.cart .cartmain .cart-empty > a { color: #64a131; }

.cart .cartmain .cartfooter { margin-top: 24px; padding-left: 14px; height: 50px; line-height: 50px; line-height: 56px\9\0; border: 1px solid #64a131; background-color: #f5ffed; }

.cart .cartmain .cartfooter .cart-pay span { float: left; margin-left: 15px; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #999999; }

.cart .cartmain .cartfooter .cart-pay span.all-order { margin-left: 15px; font-size: 22px; font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif; color: #64a131; font-weight: bold; }

.cart .cartmain .cartfooter .cart-pay a.go-pay { float: left; text-decoration: none; margin-left: 15px; width: 150px; height: 48px; background-color: #64a131; text-align: center; font-size: 20px; font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif; color: #ffffff; background-color: #64a131; cursor: pointer; }

.pt-50 { padding-top: 50px; }

.cartmain { margin-top: 14px; }

.look-history { position: relative; }

.look-history .scrollbar ul li { padding-top: 15px; padding-bottom: 15px; line-height: 32px; font-size: 16px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #555555; cursor: pointer; }

.look-history .scrollbar ul li.looked { border-bottom: 1px solid #64a131; }

.look-history .scrollbar ul li p { padding-right: 10px; border-right: 1px solid #ccc; }

.look-history .scrollbar ul li p.p-noborder { padding-left: 10px; border: none; }

.look-history .prev { position: absolute; top: 193px; left: 12px; cursor: pointer; }

.look-history .prev div { width: 12px; height: 22px; background: url(../img/icons.png) no-repeat -127px -155px; }

.look-history .next { position: absolute; top: 193px; right: 20px; cursor: pointer; }

.look-history .next div { width: 12px; height: 22px; background: url(../img/icons.png) no-repeat -127px -225px; }

.look-history .frame { overflow: hidden; height: 264px; width: 920px; margin: 0 auto; }

.look-history .frame ul { transform: translateZ(0px); width: 184px; }

.look-history .frame ul.slidee li { float: left; margin: 22px 9px; width: 166px; }

.look-history .frame ul.slidee li > a { display: block; text-decoration: none; }

.look-history .frame ul.slidee li img { width: 100%; }

.look-history .frame ul.slidee li p.history-name { padding-left: 3px; padding-right: 3px; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #555555; margin-top: 15px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.look-history .frame ul.slidee li p.history-price { padding-left: 3px; padding-right: 3px; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color: #b0b0b0; margin-bottom: 3px; }

.look-history .look-history-con { height: 266px; border: 1px solid #ddd; }

.list-unstyled { padding-left: 0; list-style: none; }

.cart-goods { margin-top: 15px; height: 24px !important; border: 1px solid #dddddd; border-radius: 1px; width: 93px; }

.cart-goods span.num { width: 28px; height: 22px; background-color: #eeeeee; color: #a6a6a6; text-align: center; line-height: 22px; font-size: 14px; cursor: pointer; }

.cart-goods input { outline: none; font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; font-size: 14px; width: 35px; height: 22px; border: 0px; text-align: center; line-height: 24px; padding: 0px; background-color: #fff; }
