html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{
    margin:0;
    padding:0;
}
ul,ol{
    list-style:none;
}
select, input { 
    vertical-align:middle;
}
/*防止拖动*/
textarea { resize:none; } 
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
table { border-collapse:collapse; }
/*去掉input等聚焦时的蓝色边框*/
img,input,fieldset,button{
    border:none;
    padding:0;margin:0;
    outline-style:none;
}
img{width: 100%;height: 100%;display:block;}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:1em;
}
div,header,nav,main,article,section,aside,footer,figure,figcaption,details,summary{
    display:block;
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    clear:both;
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
*{
    box-sizing:border-box;
}
s,i,em{
    font-style:normal;
    text-decoration:none;
}
.box{min-width:1280px;_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");}
.content{  /*版心 提取 */
    width: 1280px;
    margin:0 auto;
}
.pt-50{padding-top: 50px;}
.font-color{color:#999;}
/*头部样式*/
.header { /*box-shadow: 0 2px 8px rgba(230,230,230,0.75);*/ border-bottom: 1px solid #f1f1f1; }

.header > .topnav { z-index: 1; background: #eee; color: #999; height: 30px; line-height: 30px; font-size: 12px; }

.header > .topnav > .content > span > span { margin-right: 5px; }

.header > .topnav > .content > span > span > .glyphicon { font-size: 15px; padding: 2px; color: #64A131; }

.header > .topnav > .content > span > .link-1 { color: #64A131; margin-left: 5px; }

.header > .topnav > .content > ul { margin-bottom: 0; }

.header > .topnav > .content > ul li { float: left; position: relative; padding: 0 10px; cursor: pointer; }

.header > .topnav > .content > ul > li > .glyphicon { font-size: 15px; color: #64A131; margin-top: 5px; }

.header > .topnav > .content > ul > li > .noticelist { position: absolute; top: 30px; right: 0; width: 240px; max-height: 160px; padding: 10px 15px 5px; background: #fff; color: #555; font-size: 12px; z-index: 10; box-shadow: 0 10px 15px rgba(175, 175, 175, 0.75); }

.header > .topnav > .content > ul > li > .noticelist > a { color: #64A131; margin-left: 30%; }

.header > .topnav > .content > ul > li > .noticelist > ul > li { width: 100%; height: 36px; border-bottom: 1px dashed #ddd; line-height: 36px; }

.header > .topnav > .content > ul > li > .noticelist > ul > li > a { color: #555; }

.header > .topnav > .content > ul > li > .noticelist > ul > li > a:hover { color: #64A131; }

.header > .topnav > .content > ul > li > .topcode { position: absolute; top: 30px; right: 0; width: 290px; height: 290px; padding: 10px 15px; background: #fff; color: #555; font-size: 12px; box-shadow: 0 10px 15px rgba(175, 175, 175, 0.75); z-index: 10; }

.VI-color2 { color: #64A131; }

.header > .topnav > .content > ul > li > .topcode > dl { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dashed #ddd; }

.header > .topnav > .content > ul > li > .topcode > dl > dt { float: left; width: 100px; height: 100px; }

.header > .topnav > .content > ul > li > .topcode > dl > dd { float: right; width: 145px; }

.header > .topnav > .content > ul > li > .topcode > dl > dd > a { display: block; margin: 10px 0; }

.header > .topnav > .content > ul > li > .topcode > dl > dd > span { display: block; margin: 30px 0 2px; }

.header > .topnav > .content > ul > li > a { color: #999; }

.header > .topnav > .content > ul > li > a:hover { color: #FFC926; }

.list-inline { padding-left: 0; margin-left: -5px; }

.header > .content { padding: 20px 0; height: 120px; }

.header > .content .navbar, .header > .content .navbar-header { height: 100%; margin-bottom: 0; }

.header > .content .logo { width: 300px; height: 74px; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }

.header > .content .navbar-nav { padding-left: 40px; border: none; font-family: 'microsoft yahei'; }

.header > .content .navbar-nav > li > a { text-align: center; padding: 0 25px; margin: 20px 0; color: #999; border-right: 1px solid #eee; }

.header > .content .navbar-nav > li.current > a { color: #64A131; }

.header > .content .navbar-nav > li.current > em { position: absolute; left: 5%; bottom: -18px; width: 90%; border-bottom: 2px solid #64A131; }

.header > .content .navbar-nav > li > a > span { display: block; }

.header > .content .navbar-nav > li:last-child > a { border-right: none; }

.header > .content .topsearch { position: relative; float: left; width: 180px; margin-top: 20px; font-size: 12px; }

.header > .content .topsearch > input { border: none; width: 80%; padding: 5px 3px; }

.header > .content .topsearch > button { position: absolute; right: 0; top: -2px; padding: 2px 6px; border: none; background: none; width: 32px; height: 32px; }

.header > .content .topsearch > button > .glyphicon { font-size: 20px; color: #64A131; }

.header > .content .topsearch > .hotsearch { width: 100%; padding: 0 3px; border-top: 1px solid #999; color: #999; line-height: 22px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.header > .content .topsearch > .hotsearch > a { display: inline-block; padding-right: 5px; color: #999; }

.header > .content .topsearch > .subsearch { position: absolute; top: 30px; left: 0; width: 100%; padding: 5px 0; max-height: 220px; border: 1px solid #999; background: #fff; z-index: 10; overflow-y: auto;}

.header > .content .topsearch > .subsearch > li { height: 20px; padding: 0 10px; font-size: 12px; line-height: 20px; color: #999; cursor: default; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.header > .content .topsearch > .subsearch > li:hover { background: #eee; }

.header > .content .miniCart { position: relative; float: left; width: 42px; height: 42px; margin: 20px 0 0 15px; line-height: normal; cursor: pointer; }

.header > .content .miniCart #miniCart { position: relative; width: 100%; height: 100%; }

.header > .content .miniCart #miniCart > .cartbg { position: absolute; top: -10px; left: -15px; width: 42px; height: 65px; line-height: 65px; font-size: 65px; text-align: center; z-index: 0; transition: color 0.15s; color: #64A131; }

.header > .content .miniCart #miniCart > .cart { position: absolute; top: 10px; left: 6px; font-size: 26px; line-height: 30px; color: #fff; z-index: 1; }

.header > .content .miniCart #miniCart > .cartnum { position: absolute; top: 0px; left: 10px; width: 20px; height: 16px; color: #fff; text-align: center; z-index: 5; border-radius: 3px; transition: background 0.15s; }

.header > .content .miniCart > .cartcont { position: absolute; top: 78px; right: -10px; width: 310px; max-height: 410px; padding: 15px 0 15px 15px; background: #fff; box-shadow: 0 0 45px rgba(175, 175, 175, 0.75); z-index: 11; display: none; }

.header > .content .miniCart > .cartcont > ul { max-height: 290px; overflow: auto; padding-right: 15px; margin-bottom: 0; }

.header > .content .miniCart > .cartcont > div { margin-right: 15px; padding-top: 5px; }

.header > .content .miniCart > .cartcont > .glyphicon { position: absolute; top: -19px; right: 20px; font-size: 24px; color: #fff; }

/*底部样式*/

.toolbarfoot { position: fixed; bottom: 2px; right: 0; z-index: 9999; width: 35px; height: 109px; background: url(../img/kf.png) no-repeat; }

.toolbarfoot > a { display: block; width: 35px; height: 35px; margin-bottom: 1px; }

.footer > .content { width: 1280px; margin: 40px auto; font-family: 'microsoft yahei'; }

.footer > .content > ul { padding: 20px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 0; }

.footer > .content > ul > li { width: 24%; height: 60px; border-right: 1px solid #ddd; text-align: center; }

.footer > .content > ul > li:nth-of-type(1) { background-position: 40px 0; }

.footer > .content > ul > li:nth-of-type(2) { background-position: 40px -60px; }

.footer > .content > ul > li:nth-of-type(3) { background-position: 40px -120px; }

.footer > .content > ul > li:nth-of-type(4) { background-position: 40px -180px; border-right: none; }

.footer > .content > .footbar { padding: 20px 0; margin-bottom: 15px; border-bottom: 1px solid #ddd; min-height: 160px; }

.footer > .content > .footbar > .block4 { float: left; margin: 0 85px; width: 315px; height: 145px; text-align: center; }

.footer > .content > .footbar > .block4 > .logo { width: 315px; height: 82px; background: url(../img/logo.png) no-repeat 0 0; background-size: cover; }

.footer > .content > .footbar > .block4 > .tel { margin: 5px 0 5px 72px; height: 22px; }

.footer > .content > .footbar > .block4 > .tel > img { width: 159px; height: 21px; }

.footer > .content > .footbar > .block2 { float: left; }

.footer > .content > .footbar > .block2 > li { float: left; width: 130px; text-align: center; margin-right: 45px; color: #999; }

.footer > .content > .footbar > .block2 > li > img { width: 100%; margin-bottom: 10px; }

.footer > .content > .footbar > .block3 { float: left; }

.footer > .content > .footbar > .block3 > li { float: left; margin-left: 30px; }

.footer > .content > .footbar > .block3 > li > h4 { margin-bottom: 20px; }

.footer > .content > .footbar > .block3 > li > a { display: block; color: #999; line-height: 30px; }

.footer > .content > .footbar > .block3 > li > a:hover { color: #64a131; }

.footer > .content > .copyright > p { margin-bottom: 5px; }

.footer > .content > .copyright > div > a > img { height: 47px; width: 47px; margin: 0 auto; display: inline-block; }

.font-gray { color: #555; }

.fs-4 { font-size: 18px; }

.font-color { color: #999; }

.p-icon { background-image: url(../img/icon.png); background-repeat: no-repeat; }