.banner { height: 400px; width: 100%; overflow: hidden; }

.show-ad { padding-top: 10px; padding-bottom: 50px; width: 1280px; margin: 0 auto; }

.show-ad ul li { float: left; margin-right: 26px; }

.show-ad ul li:last-child { margin: 0; }

.show-ad ul li > a { display: block; width: 300px; height: 140px; }

.show-ad ul li > a > img { display: block; }

.fruit-kinds { margin-bottom: 50px; position: relative; }

.fruit-kinds > .til { width: 1280px; margin: 0 auto; padding: 15px 0 10px; height: 67px; font-size: 14px; line-height: 42px; color: #333; font-family: 'micosoft yahei'; border-top: 1px solid #ccc; }

.fruit-kinds > .til > .textPic { float: left; height: 100%; }

.fruit-kinds > .til > .textPic > img { height: 100%; }

.fruit-kinds > .til > .more { float: right; color: #333; }

.fruit-kinds .good-list > ul { width: 1290px; margin: 0 auto; }

.fruit-kinds .good-list .pro_list { float: left; position: relative; width: 248px; height: 305px; margin: 0 5px 5px; cursor: pointer; overflow: hidden; }

.fruit-kinds .good-list .pro_list .s-img { margin-bottom: 5px; width: 100%; height: auto; overflow: hidden; }

.fruit-kinds .good-list ul li img { transition: transform 0.3s; }

.fruit-kinds .good-list ul li img:hover { transform: scale(1.1); }

.fruit-kinds .good-list .pro_list .s-info { position: relative; margin-bottom: 0; font-size: 14px; font-family: 'Hiragino Sans GB','Microsoft YaHei',sans-serif; line-height: 24px; }

.fruit-kinds .good-list .pro_list .s-info .s-name { padding-left: 2px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #555; max-width: 210px; }

.fruit-kinds .good-list .pro_list .s-info .s-unit { margin-left: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #999; }

.fruit-kinds .good-list .pro_list .s-info .s-che { position: absolute; top: auto; bottom: 5px; right: 2px; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -517px -243px; }

.pro_list_pos { position: absolute; left: 0; top: 0; }

.pro_list_pos span { font-size: 14px; line-height: 1; padding: 6px 5px; color: #fff; margin-right: 1px; float: left; display: inline-block; background: #65A032; }